<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="{{ url_for('static',filename='styles/res.css') }}" rel="stylesheet" media="screen">
        <title>Recommendation</title>
    </head>
    <body>
        <div class="header" id="header">
            <h1>Recommendation: Sweet-Weight</h1>
        </div>

        <h1>Matcha Tea<h1>
        <h2>Caffeinated</h2>
        <h3>Matcha tea is a caffeinated, sub-group of green tea that has a sweet and earthy taste.   
            <br>This drink is great for weight loss and digestion. 
            <br><br>Click on the image to purchase.
        </h3>
        <div class="content">
            <div class="column">
                <a href="https://www.teaforte.com/store/gourmet-tea/pure-matcha/" target="_blank"> 
                    <img src="{{url_for('static', filename='matcha.jpg')}}" style="height:257px;width:300px;" /></a>
            </div>
        </div>
        <p align="center"><a href=back ><button class=grey 
            style="height:25px;width:75px; background-color:rgb(107, 29, 16); color: white;">Restart</button></a></p>

        <script>
            window.onscroll = function() {myFunction()};
            
            var header = document.getElementById("myHeader");
            var sticky = header.offsetTop;
            
            function myFunction() {
                if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
                } else {
                header.classList.remove("sticky");
                }
            }
            </script>
    </body>
</html>